<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Smoke Suite">
        <classes>
            <class name="cpm.pw.apiTests.VerifyPostRequest"/>
            <class name="cpm.pw.apiTests.VerifyGetRequest"/>
        </classes>
    </test>
</suite>